spring:
  profiles:
    active: dev
  jpa:
    show-sql: true
    hibernate:
      naming:
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyJpaCompliantImpl
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

skhttppool:
  maxTotal: 200
  defaultMaxPerRoute: 100
  connectTimeout: 5000
  connectionRequestTimeout: 5000
  socketTimeout: 65000
  validateAfterInactivity: 2000

skdb:
  uri: http://192.168.10.99:80
  userName: admin
  password: 123456

swagger:
  enable: true