spring:
  profiles:
    active: @profiles.active@
  jpa:
#    show-sql: true
    hibernate:
      naming:
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyJpaCompliantImpl
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

skhttppool:
  maxTotal: 200
  defaultMaxPerRoute: 100
  connectTimeout: 5000
  connectionRequestTimeout: 5000
  socketTimeout: 65000
  validateAfterInactivity: 2000

taskpool:
  threadPoolCount: 10

swagger:
  enable: true

#logging:
#  level:
#    org:
#      hibernate:
#        SQL: DEBUG


